.form__save-button {
  border-radius: 2px;
  background: none;
  padding: 14px 82px;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  border: 0;
  grid-area: form__save-button;
}

.form__save-button::before {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 1;
  background: #000000;
  content: '';
}

.form__save-button:hover::before {
  opacity: .8;
  transition-duration: .3s;
}

@media screen and (min-width: 650px) {
  .form__save-button{
    padding: 14px 131px 14px 131px;
  }
}
