/* .profile {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .profile {
      flex-direction: row;
      justify-content: space-between;
    }
  } */

  .profile {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 36px;
    grid-column-gap: 36px;
}

@media screen and (min-width: 768px) {
    .profile {
      grid-auto-flow: column;
      justify-content: space-between;
    }
  }





