/* .profile {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .profile {
      flex-direction: row;
      justify-content: space-between;
    }
  } */

.profile {
  display: grid;
  grid-template-rows: auto 28px auto 32px auto;
  grid-template-areas:
    "profile__pic"
    "."
    "profile__info-area"
    "."
    "profile__big-button";
  justify-items: center;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .profile {
    grid-template: auto 36px auto / auto minmax(auto, 30px) auto;
    grid-template-areas:
    "profile__pic . profile__info-area"
    ". . ."
    "profile__big-button profile__big-button profile__big-button";
  }
}

@media screen and (min-width: 768px) {
  .profile {
    grid-template: auto / auto minmax(auto, 30px) auto minmax(30px, 1fr) auto;
    grid-template-areas:
      "profile__pic . profile__info-area . profile__big-button";
    justify-content: space-between;
  }
}






